.acc-services__acc {
  h2 {
    button {
      h4 {
        font-size: convertFont(14);
        font-family: "Roboto";
        color: rgb(51, 51, 51);
        text-transform: uppercase;
        line-height: 1.2;
        margin: 0 !important;
        align-self: center;
      }
      i {
        color: #d3d3d3;
        font-size: 1.5rem;
      }
    }
  }
  h2::after {
    display: none;
  }
  .card-body {
    font-size: convertFont(15);
    font-family: "Roboto";
    color: rgb(153, 153, 153);
    font-style: italic;
    line-height: 1.6;

    height: convertFont(120);
    overflow-x: hidden;
    overflow-y: auto;
  }
  .accordion {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }
  .card {
    border-bottom: 1px solid #e5e5e5 !important;
  }
  .card-header {
    background-color: transparent;
  }
  .title-icon {
    i {
      color: $primaryCol;
      font-size: 2rem;
      margin-right: 1rem;
    }
  }
}
.acc-services__text {
  p {
    font-size: 15px;
    font-family: "Roboto";
    width: 85%;
    line-height: 1.6;
    color: rgb(153, 153, 153);
  }
}
