header {
  height: convertFont(1000);
  background: linear-gradient(
      to bottom,
      rgba(243, 129, 129, 0.9),
      rgba(252, 227, 138, 0.9)
    ),
    url(../../img/banner/eagle-bg.png);

  //   background-image: url(../../img/banner/gradient.png);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  .nav-icon {
    font-size: 1rem;
    //   color: white;
  }
  h2 {
    font-size: convertFont(72);
    font-family: "Kaushan Script", cursive;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
  }
  h1 {
    position: relative;
  }
  h1::after {
    content: "";

    background-color: rgb(255, 255, 255);
    position: absolute;
    display: block;
    width: convertFont(60);
    height: convertFont(3);
    right: 50%;
    margin-right: convertFont(-30);
    z-index: 1000;
    bottom: -20%;
  }
  .btn-outline-light {
    border: 3px solid white;
    color: white;
    padding: 0.3rem 1.5rem 0.3rem 1.5rem;
  }
  // carousel styling
  .carousel-inner {
    height: convertFont(890);
  }
  .carousel-indicators {
    margin: 0;
    li {
      width: 100%;
      text-indent: 0 !important;
      p {
        font-size: convertFont(18);
        font-family: "Montserrat";
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
        text-align: left;
      }
    }
    li.active {
      background-color: #fff;
      position: relative;
    }
    li.active ::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      height: 3px;
      width: 25%;
      background-color: #f38181;
    }
    li.hover {
      background-color: #fff;
      position: relative;
    }
    li.hover ::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      height: 3px;
      width: 25%;
      background-color: #f38181;
    }
  }
}
