*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  font-size: 16px;

  a {
    font-size: convertFont(14);
    font-weight: bold;
  }
  ul {
    list-style-type: none;
  }

  h1 {
    font-size: convertFont(150);
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.933;
    text-align: center;
  }
  h2 {
    font-size: convertFont(30);
    font-family: "Montserrat";
    color: $textCol;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    position: relative;
  }
  h2::after {
    content: "";
    background-color: $afterCol;
    position: absolute;
    display: block;
    width: convertFont(60);
    height: convertFont(3);
    right: 50%;
    margin-right: convertFont(-30);
    bottom: -80%;
    text-transform: uppercase;
  }
  h3 {
    font-size: convertFont(24);
    font-family: "Kaushan Script";
    color: $textCol;
    line-height: 1.2;
    text-align: center;
  }
  h4 {
    font-size: convertFont(16);
    font-weight: bold;
  }
  h6 {
    font-size: convertFont(14);
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    font-weight: bold;
  }
}
