@font-face {
  font-family: Cairo;
  src: url(../../fonts/Cairo-Regular.ttf);
}
*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cairo;
  font-size: 16px;

  a {
    text-decoration: none;
    color: black;
    font-size: convertFont(14);
    font-weight: bold;
  }
  ul {
    list-style-type: none;
  }
  .fa {
    font-size: 2rem;
  }

  h1 {
    font-size: convertFont(50);
  }
  h2 {
    font-size: convertFont(35);
  }
  h4 {
    font-size: convertFont(16);
    font-weight: bold;
  }
}
