*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  font-size: 16px;

  a {
    font-size: convertFont(14);
    font-weight: bold;
  }
  ul {
    list-style-type: none;
  }

  h1 {
    font-size: convertFont(150);
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: convertFont(0.933);
    text-align: center;
    z-index: 17;
  }
  h2 {
    font-size: convertFont(35);
  }
  h4 {
    font-size: convertFont(16);
    font-weight: bold;
  }
}
